{% extends 'base.html' %}

{% block nav %} 
<nav class="s-header__nav-wrap">
    <div class="row">
        <ul class="s-header__nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="current"><a href="{{ url_for('login') }}">Login</a></li>	
            <li><a href="{{ url_for('prediction') }}">Prediction</a></li>	
            <li><a href="{{ url_for('factors') }}">Factors</a></li>
            <li class="has-children"><a href="#0">Articles</a>
                <ul>
                    <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
                    <li><a href="{{ url_for('instruction') }}">Instruction</a></li>
                    <li><a href="{{ url_for('referenced') }}">References</a></li>
                </ul>
            </li>
        </ul> <!-- end #nav -->
    </div> 
</nav> <!-- end #nav-wrap -->
<a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="column large-full">
        <h1 class="h-remove-top">Login</h1>
        <form action="" method="post">
            {{ form.csrf_token }}
            <div>
                <label for="sampleInput">Email</label>
                <input class="h-full-width" type="email" name="email" placeholder="sample@mailbox.com" id="sampleInput" required>
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                <label for="sampleInput">Password</label>
                <input class="h-full-width" type="password" name="password" placeholder="sample-password" id="sampleInput" required>
                {% for error in form.password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <div class="alert-box alert-box--error hideit">
                                <p>{{ message }}</p>
                                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                            </div><!-- end error -->
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <input class="btn--primary h-full-width" type="submit" value="Submit">

            <div>
                <h3>Or, create a new account</h3>
            </div>
        </form>
        <form action="{{ url_for('registration') }}">
            {{ form.csrf_token }}
            <input class="btn--primary h-full-width" type="submit" value="Registration">
        </form>
    </div>
</div>


{% endblock %}